<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="#"></ion-back-button>
        </ion-buttons>
        <div class="ion-text-center">
        <ion-title style="color: #e9e9e9!important; text-align: center;">{{'SETTINGS' | translate}}</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{user.photoURL}}"/>
            </ion-avatar>
            <ion-label>
                <ion-text>
                    <h3>{{user.name}}</h3>
                </ion-text>
                <ion-text>
                    <p>{{user.phoneNumber}}</p>
                </ion-text>
            </ion-label>
            <!--<ion-button slot="end" routerLink="/profile">{{'EDIT' | translate}}</ion-button>-->

            <button mat-fab color="primary" slot="end" [routerLink]="['/profile']" >
                <mat-icon>edit</mat-icon>
            </button>
        </ion-item>

        <ion-item>
            <ion-label>{{'PUSH_NOTIFICATION' | translate}}</ion-label>
            <ion-toggle slot="end" (click)="change()" [(ngModel)]="isPushEnabled"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
