<ion-header fullscreen>
    <ion-toolbar>

        <!-- <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons> -->

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><h1 style="font-family: 'brush_script';  color: rgb(0,0,0); text-align: center;"
                       class="travel_header1">Smart Cabs </h1></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-card>
        <div style="text-align: center;">
            <img src="../../../assets/images/smart.jpg"/>

            <!--<div padding="true">-->
            <!--<ion-button expand="block" color="warning" routerLink="/home" color="newcolor" style="border-radius: 7px!important; box-shadow: 0 8px 6px -6px black; color: white">ORDER YOUR RIDE</ion-button>-->
            <!--</div>-->
            <!--<img src="../../../assets/img/perez/wish.jpg" style="width: 80%; height: 50%; margin: auto!important;"/>-->
        </div>
        <ion-card-header>
            <ion-card-subtitle>Easy Go</ion-card-subtitle>
            <ion-card-title>Smart Cabs Uganda LTD.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <!-- <ion-button expand="block" color="warning" routerLink="/home">EASYGO TAXI</ion-button> -->
            <div padding="true">
                <ion-button expand="block" color="warning" routerLink="/home" color="newcolor"
                            style="border-radius: 7px!important; box-shadow: 0 8px 6px -6px black; color: white">BOOK
                    YOUR RIDE
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>


</ion-content>
