<ion-content fullscreen no-padding="true">
    <br/><br/>
    <ion-title><h1 style=" color: #171743; text-align: center;"
                   class="travel_header1"><b>Smart Cabs</b></h1></ion-title>

    <br/>
    <ion-slides [options]="slideOptsOne">
        <ion-slide>
            <ion-card>
                <ion-card-content>
                    <ion-img src="../../assets/images/smartside1.jpg"></ion-img>


                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <div padding="true">
        <ion-button expand="block" color="warning" routerLink="/home" color="newcolor"
                    style="border-radius: 7px!important; box-shadow: 0 8px 6px -6px black; color: white">START
        </ion-button>
    </div>

</ion-content>
