<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="notifications.length == 0" style="margin-top: 5px; text-align: center">No Notifications Found</p>
  <ion-list>
    <ion-item *ngFor="let n of notifications">
      <ion-label>
        <ion-text>
          <h3>{{n.title}}</h3>
        </ion-text>
        <ion-text>
          <p style="white-space: pre-wrap;">{{n.description}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>