<ion-content fullscreen>
    <ion-item style="padding-top: 60px;">
        <div class="ion-text-center" style="padding-left: 20px;">
            <ion-label style="color: white!important;">TERMS & CONDITIONS</ion-label>
        </div>
        <ion-button size="small" slot="end" (click)="closeModalX()" color="danger">X</ion-button>
    </ion-item>
    <ion-card>
        <img src="../../assets/img/support.jpg"/>
        <ion-card-header>
            <div class="ion-text-center">
                <ion-card-title style="color: #ffffff!important;">SMART CABS DRIVER SERVICES AGREEMENT</ion-card-title>
                <ion-card-subtitle style="color: #dedede!important;"></ion-card-subtitle>
                <div style="text-align: justify; color:#c1c1c1!important;">
                    <p><b>SMARTCABS (U) Ltd</b>, a private limited liability company established
                        in accordance with the Laws of
                        Uganda, whose registered address is Plot 106, Ntinda - Kisaasi road, Kisaasi (“SMARTCABS”). Any
                        use
                        of the words <b>“We”, “Us”</b> shall be construed to refer to SMARTCABS, or its affiliates or
                        successors
                        and assigns.</p>
                    <p>All signatories hereto maybe referred to individually as <b>“the party”</b> and collectively as
                        <b>“the
                            parties”</b> where the context so permits</p>

                    <p><b>WHEREAS;</b></p>
                    <p>
                        a) SMARTCABS provides the SMRTCABS Services (as defined below) for the purpose of providing lead
                        generation to Transportation Services providers and The SMARTCABS Services enable an authorized
                        transportation provider to provide Transportation Services to an authorized user of SMARTCABS’
                        mobile application.
                        <br/><br/>
                        b) The Driver is authorized to provide Transportation Services within Uganda and or is a
                        licensed driver and is desirous to enter into this Agreement for the purpose of accessing and
                        using the SMARTCABS Services to enhance His or Her transportation business.
                        <br/><br/>
                        c) The Driver acknowledges and agrees that SMARTCABS is a technology services provider that does
                        not provide Transportation Services, function as a transportation carrier or agent for the
                        transportation of passengers.
                        <br/><br/>
                        d) And THAT In order to use the SMARTCABS Services, the Driver must agree to the terms and
                        conditions that are set forth below.

                    </p>
                    <p>Upon Driver’s execution (electronic or otherwise) of this Agreement, the Driver and SMARTCABS
                        shall be bound by the terms and conditions set forth herein</p>
                    <p>1.<b> Definitions</b></p>
                    <p>1.1. “Affiliate means an entity that, directly or indirectly, controls, is under the control of,
                        or is under common control with a party, where control means having more than fifty percent
                        (50%) of the voting stock or other ownership interest, the majority of the voting rights of such
                        entity, the ability of such entity to ensure that the activities and business of that Affiliate
                        are conducted in accordance with the wishes of that entity or the right to receive the majority
                        of the income of that Affiliate on any distribution by it of all of its income or the majority
                        of its assets on a winding up.</p>

                    <p>1.2. “Territory Addendum” means an addendum or supplemental information to this Agreement setting
                        forth additional Territory specific terms, as made available and as updated by SMARTCABS from
                        time to time.</p>

                    <p>1.3. “Device means a Driver Provided Device where SMARTCABS’ mobile application us installed to
                        enable the Driver utilize the SMARTCABS services.</p>
                    <p>1.4. “Driver means a licensed person under the Traffic and Road safety Act as amended to operate
                        a motor vehicle and or, but not limited a motor cycle or motorized tri-cycle;</p>
                    <p>(a) Who meets the then current requirements of SMARTCABS or any of its Affiliates in the
                        Territory to be an active driver using the SMARTCABS Services;</p>
                    <p> (b) whom SMARTCABS, or any of its Affiliates in the Territory, authorizes to access the
                        SMARTCABS services to provide Transportation Services on behalf of a corporate entity; and (c)
                        who has entered into the Driver Addendum.</p>
                    <p>1.5. “Driver App means SMARTCABS’ mobile application that enables transportation providers
                        (drivers) to access the SMARTCABS’ Services for the purpose of providing Transportation Services
                        to Users, as may be updated or modified by SMARTCABS at its discretion from time to time.</p>
                    <p>1.6. “Driver ID means the identification and password key assigned by SMARTCABS to a Driver that
                        enables the Driver to use and access the Driver App.</p>

                    <p>1.7. “Driver Provided Device means a mobile device owned or controlled by a Driver or Rider on
                        which the Driver App has been installed as authorized by SMARTCABS solely for the purpose of
                        providing Transportation Services.</p>
                    <p>1.8. “Fare” has the meaning set forth in Section 4.1.</p>
                    <p>1.9. “Service Fee has the meaning set forth in Section 4.4. </p>
                    <p>1.10. “Taxi Services has the meaning set forth in Section 3.1.</p>
                    <p>1.11. “Territory means the Central Business District, Kampala Ugandan, other cities or
                        metropolitan areas in which the Drivers are enabled by the Driver App to provide Transportation
                        Services.</p>
                    <p>1.12. “Tolls” means any applicable road, bridge, ferry, tunnel and airport charges and fees,
                        including inner city congestion, environmental or similar charges as reasonably determined by
                        the SMARTCABS Services based on available information.</p>

                    <p>1.13. “Transportation Services” means the provision of passenger transportation services to Users
                        via the SMARTCABS Services in the Territory by Drivers using the Vehicles or Motor Vehicles.</p>

                    <p>1.14. “SMARTCABS Data means all data related to the access and use of the SMARTCABS Services
                        hereunder, including all data related to Users including (User Information), all data related to
                        the provision of Transportation Services via the SMARTCABS Services and the Driver App, and the
                        Driver ID.</p>

                    <p>1.15. “SMARTCABS Services mean SMARTCABS’ electronic services rendered via a digital technology
                        platform, being on demand intermediary and related services that enable transportation providers
                        to provide Transportation Services to Users seeking Transportation Services; such SMARTCAB
                        Services include access to the Driver App and SMARTCAB’S related software, websites, payment
                        services as described in Section 4 below, and related support services systems, as may be
                        updated or modified by SMARTCABS at its sole discretion from time to time.</p>

                    <p>1.16. “User means an end user authorized by SMARTCABS to use SMARTCABS’ mobile application for
                        the purpose of obtaining Transportation Services offered by independent transportation provider
                        s using SMARTCABS’ services.</p>
                    <p>1.17. “User Information means information about User made available to a Driver in connection
                        with such User’s request for and use of Transportation Services, which may include the User’s
                        name, pick up location, contact information and photo where applicable/ available</p>
                    <p>1.18. “Vehicle means any vehicle or Motor Bike of a Driver or Rider that:</p>

                    <p> (a) meets the then current requirements of SMARTCABS or any of its Affiliates in the Territory
                        for provision of Transportation services on the SMARTCABS Services; and</p>
                    <p> (b) SMARTCABS authorizes for use by a Driver for the purpose of providing Transportation
                        Services.</p>
                    <p><b>2. Use of the SMARTCABS Services</b></p>
                    <p><b>2.1. Driver IDs</b></p>
                    <p>SMARTCABS will issue a Driver with a Driver ID for to enable the Driver to access and use the
                        Driver App on a Device in accordance with this Agreement. </p>
                    <p>Driver hereby expressly agrees that they will ensure that they maintain their Driver ID in
                        confidence and not share the Driver ID with any third party for the purpose of providing
                        Transportation Services. The Driver, as described herein, will immediately notify SMARTCABS of
                        any actual or suspected breach or improper use or disclosure of a Driver ID or the Driver
                        App.</p>
                    <p><b>2.2. Provision of Transportation Services. </b></p>
                    <p>When the Driver App is active, User requests for Transportation Services may appear to a Driver
                        via the Driver App if the Driver is available and in the vicinity of the User. If a Driver
                        accepts (either directly or through a SMARTCABS Affiliate in the Territory acting as agent for
                        the Driver) User’s request for Transportation Services, the SMARTCABS Services will provide
                        certain User Information to such Driver via the Driver App, including the User’s first name and
                        pickup location. </p>

                    <p>Driver will obtain the destination from the User, either in person upon pickup or from the Driver
                        App if the User elects to enter such destination via SMARTCABS’ mobile application.</p>

                    <p>Driver acknowledges and agrees that once they have accepted (either directly or through a
                        SMARTCABS Affiliate in the Territory acting as agent for the Driver) User’s request for
                        Transportation Services, SMARTCABS’ mobile application may provide certain information about the
                        Driver to the User, including the Driver’s first name, contact information, photo and location,
                        and the Driver’s Vehicle’s make and license plate number.</p>

                    <p>The Driver Shall not, contact any Users or use any User's personal data for any reason other than
                        for the purposes of fulfilling Transportation Services. </p>
                    <p>As between SMARTCABS and the Driver, the Driver acknowledges and agrees that: (a) the Driver is
                        solely responsible for determining the most effective, efficient and safe manner to perform each
                        instance of Transportation Services; and</p>

                    <p> (b) except for the SMARTCABS Services, the Driver shall, at his/her own expense provide all
                        necessary equipment, tools and other materials, necessary to perform all Transportation
                        Services</p>
                    <p><b>2.3. Driver’s Relationship with Users</b></p>
                    <p>Driver acknowledges and agrees that their provision of Transportation Services to Users creates a
                        legal and direct business relationship between the Driver and the User, to which neither
                        SMARTCABS nor any of its Affiliates in the Territory is party. Neither SMARTCABS nor any of its
                        Affiliates in the Territory is responsible or liable for the actions or inactions of the User in
                        relation to the activities of a Driver or any Vehicle. </p>

                    <p>The Driver shall have the sole responsibility for any obligations or liabilities to Users or
                        third parties that arise from his/her provision of Transportation Services. The Driver
                        acknowledges and agrees that they and are solely responsible for taking such precautions as may
                        be reasonable and proper (including maintaining adequate insurance that meets the requirements
                        of all applicable laws) regarding any acts or omissions of a User or third party. </p>

                    <p>The Driver acknowledges and agrees that SMARTCABS may release the contact and/or insurance
                        information of a Driver to a User upon such User’s reasonable request.</p>

                    <p>The Driver acknowledges and agrees that, unless specifically consented to by a User, the Driver
                        may not transport or allow inside any Vehicle individuals other than a User and any individuals
                        authorized by such User during the performance of Transportation Services for such User. </p>
                    <p>The Driver acknowledges and agrees that they shall ensure that all Users should and shall be
                        transported directly to their specified destination, as directed by the applicable User, without
                        unauthorized interruption or unauthorized stops.</p>
                    <p><b>2.4. Driver’s Relationship with SMARTCABS</b></p>
                    <p>Customer acknowledges and agrees that SMARTCABS’ provision to the Driver of the Driver App and
                        the SMARTCABS Services creates a legal and direct business relationship between SMARTCABS and
                        the Driver.</p>

                    <p>SMARTCABS and its Affiliates in the Territory do not, and shall not be deemed to, direct or
                        control the Driver generally or in his/her performance under this Agreement specifically,
                        including in connection with the operation of the Driver’s business, the provision of
                        Transportation Services, the acts or omissions of Driver, or the operation and maintenance of
                        any Vehicles.</p>

                    <p>Whilst authorized to provide Transportation Services under this Agreement, the Driver retains the
                        sole right to determine when and for how long each of them will utilize the Driver App or the
                        SMARTCABS Services.</p>

                    <p>The Driver retains the option, via the Driver App, to decline or ignore User’s requests for
                        Transportation Services via the SMARTCABS Services, or to cancel an accepted request (whether
                        such request was accepted directly or via a SMARTCABS Affiliate in the Territory acting as
                        agent) for Transportation Services via the Driver App, subject to SMARTCABS’ then current
                        cancellation policies. </p>
                    <p>The Driver will not: (a) display SMARTCABS’ or any of its Affiliates’ names, logos or colors on
                        any Vehicle(s); or </p>

                    <p>b) Wear a uniform or any other clothing displaying SMARTCABS’ or any of its Affiliates’ names,
                        logos or colors. The foregoing does not apply if the Driver and SMARTCABS have agreed otherwise
                        or if so required by law. </p>
                    <p>The Driver acknowledges and agrees that he/she has complete discretion to operate his/her
                        independent business and at their own discretion, including the ability to provide services at
                        any time to any third party separate and apart from Transportation Services.</p>

                    <p>For the sake of clarity, the Driver understands that he/she retains the complete right to provide
                        Transportation Services to its existing customers and to use other software application services
                        in addition to the SMARTCABS Services. </p>
                    <p>SMARTCABS retains the right to, at any time in SMARTCABS’ sole discretion, deactivate or
                        otherwise restrict the Driver from accessing or using the Driver App or the SMARTCABS Services
                        in the event of a violation of this Agreement, Driver’s disparagement of SMARTCABS or any of its
                        Affiliates, Driver’s act(s) or omission(s) that causes harm to SMARTCABS’ or its Affiliates’
                        brand, reputation or business as determined by SMARTCABS in its sole discretion. </p>

                    <p>SMARTCABS also retains the right to deactivate or otherwise restrict Driver from accessing or
                        using the Driver App or the SMARTCABS Services for any other reason at the sole and reasonable
                        discretion of SMARTCABS.</p>

                    <p><b>2.5. Ratings.</b></p>
                    <p>2.5.1. Driver acknowledges and agrees that: </p>
                    <p>(a) After receiving Transportation Services, a User will be prompted by SMARTCABS’ mobile
                        application to provide a rating of such Transportation Services and Driver and, optionally, to
                        provide comments or feedback about such Transportation Services and Driver; and</p>
                    <p> (b) After providing Transportation Services, the Driver will be prompted by the Driver App to
                        provide a rating of the User and, optionally, to provide comments or feedback about the User.
                        The Driver shall provide ratings and feedback in good faith.</p>
                    <p>2.5.2. Driver acknowledges that SMARTCABS desires and aims that Users have access to high quality
                        services via SMARTCABS’ mobile application. In order to continue to receive access to the Driver
                        App and the SMARTCABS Services, the Driver must maintain an average rating by Users that exceeds
                        the minimum average acceptable rating established by SMARTCABS for the Territory, as may be
                        updated from time to time by SMARTCABS in its sole discretion</p>
                    <p>i. (“Minimum Average Rating”). In the event a Driver’s average rating falls below the Minimum
                        Average Rating, SMARTCABS will notify the Driver and may provide the Driver in SMARTCABS’
                        discretion, a limited period of time to raise his or her average rating above the Minimum
                        Average Rating. If such Driver does not increase his or her average rating above the Minimum
                        Average Rating within the time period allowed (if any), SMARTCABS reserves the right to
                        deactivate such Driver’s access to the Driver App and the SMARTCABS Services. </p>
                    <p>ii. Additionally, Driver acknowledges and agrees that repeated failure by a Driver to accommodate
                        User requests for Transportation Services while such Driver is logged in to the Driver App
                        creates a negative experience for Users of SMARTCABS’ mobile application. Accordingly,
                        If a Driver does not wish to provide Transportation Services for a period of time, the Driver
                        will log off of the Driver App.
                    </p>

                    <p>2.5.3. SMARTCABS and its Affiliates reserve the right to use, share and display Driver and User
                        ratings and comments in any manner in connection with the business of SMARTCABS and its
                        Affiliates without attribution to or approval of the Driver. </p>
                    <p>Driver acknowledges that SMARTCABS and its Affiliates are distributors (without any obligation to
                        verify) and not publishers of Driver and User ratings and comments, provided that SMARTCABS and
                        its Affiliates reserve the right to edit or remove comments in the event that such comments
                        include obscenities or other objectionable content, include an individual’s name or other
                        personal information, or violate any privacy laws, other applicable laws, or SMARTCABS’ or its
                        Affiliates’ content policies.</p>
                    <p><b>2.6. Devices.</b></p>
                    <p>2.6.1. SMARTCABS encourages Drivers to use Driver Provided Devices for providing the
                        Transportation Services.</p>
                    <p>2.6.2. As such therefore;</p>
                    <p> (i) The Driver is responsible for the acquisition, cost and maintenance of such Driver Provided
                        Devices as well as any necessary wireless data plan; and</p>
                    <p>(ii) SMARTCABS shall make available the Driver App for installation on such Driver Provided
                        Devices. SMARTCABS hereby grants the authorized user of any Driver Provided Device personal,
                        non-exclusive, non-transferable user right to install and use the Driver App on a
                        Driver-Provided Device solely for the purpose of providing Transportation Services.</p>
                    <p>The Driver agrees to not, provide, distribute or share, or enable the provision, distribution or
                        sharing of, the Driver App (or any data associated therewith) with any third party. </p>
                    <p>The foregoing right(limited license afore described) shall immediately terminate and Driver will
                        delete and fully remove the Driver App from the Driver-Provided Device in the event that the
                        Driver ceases to provide Transportation Services using the Driver-Provided Device. </p>
                    <p>It is Noteworthy and the Drive acknowledges that he/she is Conscious that: (i) use of the Driver
                        App on a Driver-Provided Device requires an active data plan with a wireless carrier associated
                        with the Driver-Provided Device, which data plan will be provided the Driver at his/her own
                        expense; and</p>
                    <p>(ii) Use of the Driver App on a Driver-Provided Device as an interface with the SMARTCABS
                        Services may consume very large amounts of data through the data plan. SMARTCABS advises that
                        Driver-Provided Devices should only be used under a data plan with unlimited or very high data
                        usage limits, and SMARTCABS shall not be responsible or liable for any fees, costs, or overage
                        charges associated with any data plan.</p>
                    <p><b>2.7. Location Based Services</b></p>
                    <p>Driver acknowledges and agrees that Driver’s geo-location information must be provided to the
                        SMARTCABS Services via a Device in order to provide Transportation Services. </p>
                    <p>Diver agrees and hereby unreservedly consents that: </p>
                    <p>(a) the Driver’s geo-location information will be monitored and tracked by the SMARTCABS’
                        Services when the Driver is logged into the Driver App and available to provide Transportation
                        Services, or when the Driver is providing Transportation Services; and</p>

                    <p>(b) the approximate location of the Driver’s Vehicle will be displayed to the User before and
                        during the provision of Transportation Services to such User. In addition, SMARTCABS may
                        monitor, track and share a Driver’s geo-location information obtained by the Driver App and
                        Device for safety, security, technical, marketing and commercial purposes, including providing
                        and improving SMARTCABS’ products and services.</p>
                    <p><b>3. Drivers and Vehicles</b></p>
                    <p><b>3.1. Driver Requirements </b></p>
                    <p>The Driver acknowledges and agrees that he/she shall at all times:</p>
                    <p>(a) Hold and maintain; (i) a valid driver's license with the appropriate level of certification
                        to operate the Vehicle assigned to/ owned by such Driver, and</p>
                    <p>(ii) All licenses, permits, approvals and authority applicable that are necessary to provide
                        passenger transportation services to third parties in the Territory; </p>
                    <p>(b) Possess the appropriate and current level of training, expertise and experience to provide
                        Transportation Services in a professional manner with due skill, care and diligence; and</p>
                    <p>(c) Maintain high standards of professionalism, service and courtesy. </p>
                    <p>The Driver herein described acknowledges and agrees that he/she may be subject to certain
                        background and driving record checks from time to time in order for such Driver to qualify to
                        provide, and remain eligible to provide, Transportation Services. In addition, if the Driver is
                        using the SMARTCABS App to provide Transportation Services in conjunction with operating a taxi
                        (“Taxi Services”), such Driver shall comply with all applicable laws with respect thereto.</p>
                    <p> Driver acknowledges and agrees that SMARTCABS reserves the right, at any time in SMARTCABS’ sole
                        discretion, to deactivate or otherwise restrict a Driver from accessing or using the Driver App
                        or the SMARTCABS Services if the Driver fails to meet the requirements set forth in this
                        Agreement </p>
                    <p><b>3.2. Vehicle Requirements.</b></p>
                    <p>The Driver’s Vehicle shall at all times be:</p>
                    <p> (a) Properly registered and licensed to operate as a passenger transportation vehicle in the
                        Territory;</p>
                    <p> (b) Owned or leased by the Driver, or otherwise in the Driver’s lawful possession;</p>
                    <p> (c) Suitable for performing the passenger transportation services contemplated by this
                        Agreement; and</p>
                    <p>(d) maintained in a safe, roadworthy and good operating condition, consistent with industry
                        safety and maintenance standards for a Vehicle of its kind and any additional standards or
                        requirements in the applicable Territory, and in a clean and sanitary condition which shall
                        include maintaining at all times a valid Ministry of Transport Test Certificate for each
                        Vehicle, where applicable, including, where applicable, in accordance with the terms of any
                        relevant license.</p>
                    <p><b>3.3. Documentation.</b></p>
                    <p>To ensure the Drivers’ compliance with all requirements in Sections 3.1 and 3.2 above, and to
                        allow SMARTCABS and any of its Affiliates in the Territory to comply with their regulatory
                        requirements, the Driver must provide SMARTCABS with written copies of all such licenses,
                        permits, approvals, authority, registrations and certifications (“Documentation”) prior to
                        Drivers’ provision of any Transportation Services. Thereafter, the Driver must submit to
                        SMARTCABS written evidence of all such Documentation as it is renewed.</p>
                    <p>SMARTCABS shall, upon request, be entitled to review such licenses, permits, approvals,
                        authority, registrations and certifications from time to time, and the Driver’s failure to
                        provide or maintain any of the foregoing shall constitute a material breach of this
                        Agreement. </p>
                    <p>SMARTCABS and any of its Affiliates in the Territory reserve the right to independently verify
                        the Driver’s Documentation from time to time in any way SMARTCABS deems appropriate in its
                        reasonable discretion and the Driver Consents to SMARTCABS and any of its Affiliates in the
                        Territory to undertake such verification.</p>
                    <p><b>4. Financial Terms</b></p>
                    <p><b>4.1. Fare Calculation and Customer Payment </b></p>
                    <p>The Driver is entitled to charge fare for each instance of completed Transportation Services
                        provided to a User that are obtained via the SMARTCABS Services (“Fare”), where such fare is
                        calculated based upon base fare amount plus distance (as determined by SMARTCABS using
                        location-based services enabled through the Driver-Provided Device) and/or time amounts, as
                        detailed at (https://www.smartcabsug.com) for the applicable Territory (“Fare
                        Calculation”). </p>
                    <p>The Driver is also entitled to charge User for any Tolls, taxes or fees incurred during the
                        provision of Transportation Services, if applicable.</p>
                    <p>The Driver: (i) appoints SMARTCABS as the Driver’s limited payment collection agent solely for
                        the purpose of accepting the Fare, applicable Tolls and, depending on the territory and/or if
                        requested by the Driver, applicable taxes and fees from the User on behalf of the Driver via the
                        payment processing functionality facilitated by the SMARTCABS Services; and</p>
                    <p> (ii) Agrees that payment made by User to SMARTCABS shall be considered the same as payment made
                        directly by User to the Driver.</p>
                    <p> In addition, the parties acknowledge and agree that as between the Driver and SMARTCABS, the
                        fare is a recommended amount, and the primary purpose of the pre-arranged fare is to act as the
                        default amount in the event that the Driver does not negotiate a different amount. </p>
                    <p>The Driver shall always have the right to:</p>
                    <p>(i) charge a fare that is less than the pre-arranged Fare; or</p>
                    <p>(ii) Negotiate, at User’s request, a Fare that is lower than the pre-arranged Fare (each of (i)
                        and (ii) herein “Negotiated Fare”).</p>
                    <p> SMARTCABS shall consider all such requests from the Driver to be in good faith. SMARTCABS agrees
                        to remit to the Driver on at least a weekly basis:</p>
                    <p> (a) The Fare less the applicable Service Fee; </p>
                    <p>(b) The Tolls; and</p>
                    <p> (c) Depending on the territory, certain taxes and ancillary fees. If the Driver has separately
                        agreed, other amounts may be deducted from the fare prior to remittance to Driver (e.g. vehicle
                        financing payments, lease payments, mobile device usage charges, etc.), the order of those
                        deductions from the Fare to be determined exclusively by SMARTCABS. </p>
                    <p><b>4.2. Changes to Fare Calculation.</b></p>
                    <p>SMARTCABS reserves the right to change the Fare Calculation at any time in SMARTCABS’ discretion
                        based upon local market factors, and SMARTCABS will provide notice to the Driver in the event of
                        such change that would result in a change in the recommended Fare. Continued use of the
                        SMARTCABS Services after any such change in the Fare Calculation shall constitute the Driver’s
                        consent to such change(s).</p>
                    <p><b>4.3. Fare Adjustment.</b></p>
                    <p>SMARTCABS and/or its Affiliates in the Territory reserve the right to:</p>
                    <p>(i) Adjust the Fare for particular instance of Transportation Services (e.g. Driver took an
                        inefficient route, Driver fails to properly end a particular instance of Transportation Services
                        in the Driver App, technical error in the SMARTCABS Services, etc.); or</p>
                    <p>(ii) Cancel the Fare for a particular instance of Transportation Services (e.g. User is charged
                        for Transportation Services that were not provided, in the event of a User complaint, fraud,
                        etc.). SMARTCABS’ decision to reduce or cancel the Fare in any such manner shall be exercised in
                        a reasonable manner.</p>
                    <p><b>4.4. Service Fee.</b></p>
                    <p> In consideration of SMARTCABS’ provision of the SMARTCABS Services, the Driver agrees to pay
                        SMARTCABS a service fee on a per Transportation Services transaction basis calculated as a
                        percentage of the Fare (regardless of any Negotiated Fare), as provided to the Driver via email
                        or otherwise made available electronically by SMARTCABS from time to time for the applicable
                        Territory (“Service Fee”).</p>
                    <p> Unless regulations applicable to Driver’s Territory require otherwise, taxes will be calculated
                        and charged on the Fare, and SMARTCABS shall calculate the Service Fee based on the Fare
                        inclusive of such taxes. </p>
                    <p>SMARTCABS reserves the right to change the Service Fee at any time in SMARTCABS’ discretion based
                        upon local market factors, and SMARTCABS will provide notice to Customer in the event of such
                        change. Continued use of the SMARTCABS Services after any such change in the Service Fee
                        calculation shall constitute the Driver’s consent to such change. </p>
                    <p><b>4.5. Cancellation Charges.</b></p>
                    <p>Driver acknowledges and agrees that Users may elect to cancel requests for Transportation
                        Services that have been accepted by a Driver (either directly or via SMARTCABS Affiliate in the
                        Territory acting as agent) at any time prior to the Driver’s arrival. In the event that User
                        cancels an accepted request for Transportation Services, SMARTCABS may charge the User a
                        cancellation fee on behalf of the Driver. </p>
                    <p>If charged, this cancellation fee shall be deemed the Fare for the cancelled Transportation
                        Services for the purpose of remittance to the Driver hereunder (“Cancellation Fee”).</p>
                    <p>The parties acknowledge that and agree that as between the Driver and SMARTCABS, this
                        Cancellation Fee is a recommended amount, and the primary purpose of such Cancellation Fee is to
                        act as the default amount in the event the Driver does not negotiate a different amount.</p>
                    <p>The Driver shall always have the right to: </p>
                    <p>(i) charge a cancellation fee that is less than the Cancellation Fee; or</p>
                    <p>(ii) Negotiate, at User’s request, a cancellation fee that is lower than the Cancellation Fee
                        (each of (i) and (ii) herein, a “Negotiated Cancellation Fee”). If charged, the Cancellation Fee
                        (regardless of any Negotiated Cancellation Fee) shall be deemed the Fare for the cancelled
                        Transportation Services for the purpose of remittance to the Driver hereunder.</p>
                    <p><b> 4.6. Receipts</b></p>
                    <p> As part of the SMARTCABS Services, SMARTCABS provides the Driver a system for the delivery of
                        receipts to Users for Transportation Services rendered. </p>
                    <p>Upon the completion of Transportation Services for a User by a Driver, SMARTCABS prepares an
                        applicable receipt and issues such receipt to the User via email or through the SMARTCABS App on
                        behalf of the Driver. Such receipts are also provided via email or the online portal available
                        to the Driver on the SMARTCABS Services.</p>
                    <p>Receipts include the breakdown of amounts charged to User for Transportation Services and may
                        include specific information about the Driver, including the Driver’s contact information and
                        the Driver’s name and photo, as well as map of the route taken by the Driver. Any corrections to
                        a User’s receipt for Transportation Services must be submitted to SMARTCABS in writing within
                        three (3) business days after the completion of such Transportation Services. Absent such a
                        notice, SMARTCABS shall not be liable for any mistakes in or corrections to the receipt or for
                        recalculation or disbursement of the Fare.</p>
                    <p><b>4.7. Additional Amounts/Payments/Remittances</b></p>
                    <p> The Driver acknowledges and agrees that, for the mutual benefit of the parties, through
                        advertising and marketing, SMARTCABS and its Affiliates may seek to attract new Users to
                        SMARTCABS and to increase existing Users’ use of SMARTCABS’ mobile application. The Driver
                        acknowledges and agrees such advertising or marketing does not entitle him/her to any additional
                        monetary amounts beyond the amounts expressly set forth in this Agreement.</p>
                    <p><b>4.8. Taxes </b></p>
                    <p>Driver hereby acknowledges and agrees that he/she responsible for taxes on their own income
                        arising from the performance of Transportation Services.</p>
                    <p>Notwithstanding anything to the contrary in this Agreement, SMARTCABS may in its reasonable
                        discretion based on applicable tax and regulatory considerations, collect and remit taxes
                        resulting from Driver’s provision of Transportation Services and/or provide any of the relevant
                        tax information the Driver has provided pursuant to the foregoing requirements in this Section
                        4.8 directly to the applicable governmental tax authorities on Driver’s behalf or otherwise.</p>
                    <p><b>5. Proprietary Rights; License</b></p>
                    <p><b>5.1. License Grant</b></p>
                    <p>Subject to the terms and conditions of this Agreement, SMARTCABS hereby grants the Driver a
                        non-exclusive, royalty-free, non‐transferable, non-sub licensable, non‐assignable license,
                        during the term of this Agreement, to use (and allows the Driver to use) the Driver App in
                        connection with the provision by SMARTCABS of the SMARTCABS Services solely for the purpose of
                        providing Transportation Services to Users and tracking resulting Fares and Fees. All rights not
                        expressly granted to the Driver are reserved by SMARTCABS, its Affiliates and their respective
                        licensors.</p>
                    <p><b>5.2. Restrictions</b></p>
                    <p>The Driver shall not, and shall not allow any other party to:</p>
                    <p>(a) license, sublicense, sell, resell, transfer, assign, distribute or otherwise provide or make
                        available to any other party the SMARTCABS Services, Driver App in any way;</p>
                    <p> (b) Modify or make derivative works based upon the SMARTCABS Services or Driver App; </p>
                    <p>(c) Improperly use the SMARTCABS Services or Driver App, including creating Internet “links” to
                        any part of the SMARTCABS Services or Driver App, “framing” or “mirroring” any part of the
                        SMARTCABS Services or Driver App on any other websites or systems, or “scraping” or otherwise
                        improperly obtaining data from the SMARTCABS Services or Driver App; </p>
                    <p>(d) Reverse engineer, decompile, modify, or disassemble the SMARTCABS Services or Driver App,
                        except as allowed under applicable law; or</p>
                    <p> (e) Send spam or otherwise duplicative or unsolicited messages. In addition, the Driver shall
                        not, and shall not allow any other party to, access or use the SMARTCABS Services or Driver App
                        to:</p>
                    <p> (i) Design or develop competitive or substantially similar product or service;</p>
                    <p>(ii) Copy or extract any features, functionality, or content thereof;</p>
                    <p>(iii) Launch or cause to be launched on or in connection with the SMARTCABS Services an automated
                        program or script, including web spiders, crawlers, robots, indexers, bots, viruses or worms, or
                        any program which may make multiple server requests per second, or unduly burden or hinder the
                        operation and/or performance of the SMARTCABS Services; or</p>
                    <p>(iv)Attempt to gain unauthorized access to the SMARTCABS Services or its related systems or
                        networks, all except to the extent such actions must be allowed under Ugandan law.</p>
                    <p><b>5.3. Ownership</b></p>
                    <p>The SMARTCABS Services, Driver App and SMARTCABS Data, including all intellectual property rights
                        therein, and are and shall remain the property of SMARTCABS, its Affiliates or their respective
                        licensors. </p>
                    <p>Neither this Agreement nor Driver’s use of the SMARTCABS Services, Driver App or SMARTCABS Data
                        conveys or grants to the Driver any rights:</p>
                    <p>(a) in or related to the SMARTCABS Services, Driver App or SMARTCABS Data, except for the limited
                        license granted above; or</p>
                    <p>(b) to use or reference in any manner SMART CABS’, its Affiliates’, or their respective
                        licensors’ company names, logos, product and service names, trademarks, service marks or other
                        indicia of ownership. Additionally, Driver acknowledges SMARTCABS’ rights in its SMARTCABS
                        family of trademarks and names, including SMARTCABS, alone and in combination with other
                        letters, punctuation, words, symbols and/or designs, the SMARTCABS Logo.</p>
                    <p>Driver agrees that he/she will not, try to register or otherwise claim ownership in any of the
                        SMARTCABS marks and names, alone or in combination with other letters, punctuation, words,
                        symbols and/or designs, or in any confusingly similar mark or name.</p>
                    <p><b>6. Confidentiality</b></p>
                    <p>6.1. Each party acknowledges and agrees that in the performance of this Agreement it may have
                        access to or may be exposed to, directly or indirectly, confidential information of the other
                        party ("Confidential Information"). Confidential Information includes SMARTCABS Data, Driver
                        IDs, User Information, and the transaction volume, marketing and business plans, business,
                        financial, technical, operational and such other non-public information of each party (whether
                        disclosed in writing or verbally) that such party designates as being proprietary or
                        confidential or of which the other party should reasonably know that it should be treated as
                        confidential.</p>
                    <p>6.2. Each party acknowledges and agrees that: </p>
                    <p>(a) All Confidential Information shall remain the exclusive property of the disclosing party;</p>
                    <p> (b) It shall not use Confidential Information of the other party for any purpose except in
                        furtherance of this Agreement; </p>
                    <p>(c) It shall not disclose Confidential Information of the other party to any third party, except
                        to its employees, officers, contractors, agents and service providers ("Permitted Persons") as
                        necessary to perform under this Agreement, provided Permitted Persons are bound in writing to
                        obligations of confidentiality and non-use of Confidential Information unless protective than
                        the terms hereof; and</p>
                    <p> (d) It shall return or destroy all Confidential Information of the disclosing party upon the
                        termination of this Agreement or at the request of the other party (subject to applicable law
                        and, with respect to SMARTCABS, its internal record-keeping requirements). </p>
                    <p>6.3. Notwithstanding the foregoing, Confidential Information shall not include any information to
                        the extent it: </p>
                    <p>(a) Is or becomes part of the public domain through no act or omission on the part of the
                        receiving party; </p>
                    <p>(b) Was possessed by the receiving party prior to the date of execution of this Agreement without
                        an obligation of confidentiality;</p>
                    <p>(c) Is disclosed to the receiving party by a third party having no obligation of confidentiality
                        with respect thereto; or</p>
                    <p> (d) Is required to be disclosed pursuant to law, court order, subpoena or governmental
                        authority, provided the receiving party notifies the disclosing party thereof and provides the
                        disclosing party a reasonable opportunity to contest or limit such required disclosure.</p>

                    <p><b>7. Privacy. </b></p>
                    <p>Subject to all applicable laws, SMARTCABS may provide to a third party any information (including
                        personal data and any SMARTCABS Data) about Drivers provided hereunder if: </p>
                    <p>(a) There is a complaint, dispute or conflict, including an accident, between Driver and a
                        User;</p>
                    <p>(b) It is necessary to enforce the terms of the Agreement;</p>
                    <p>(c) It is required, in SMARTCABS’ or any Affiliate’s sole discretion, by applicable law or
                        regulation;</p>
                    <p>(d) It is necessary, in SMARTCABS’ or any Affiliate’s sole discretion, to; </p>
                    <p>(i)Protect the safety, rights, property or security of SMARTCABS, the SMARTCABS Services or any
                        third party, </p>
                    <p>(ii) Detect, prevent or otherwise address fraud, security or technical issues, and/or</p>
                    <p> (iii) Prevent or stop activity which SMARTCABS or any of its Affiliates, in their sole
                        discretion, consider to be, or to pose a risk of being illegal, unethical or legally actionable;
                        or</p>
                    <p>(e) It is required or necessary, in SMARTCABS’ or any of its Affiliate’s sole discretion, for
                        insurance or other purposes related to the Driver’s ability to qualify, or remain qualified, to
                        use the SMARTCABS Services. The Driver understands that SMARTCABS may retain his/her personal
                        data for legal, regulatory, safety and other necessary purposes after this Agreement is
                        terminated. SMARTCABS processes personal data (including that referenced in Section 2.8 above)
                        in accordance with its privacy policy located at https://www.smartcabsug.com.</p>
                    <p><b>8. Insurance</b></p>
                    <p>8.1. The Driver agrees to maintain during the term of this Agreement of all commercial automobile
                        liability insurance that provides protection against bodily injury and property damage to third
                        parties at levels of coverage that satisfy all applicable laws and bylaws in the Territory. This
                        coverage must also include any no-fault coverage required by law in the Territory that may not
                        be waived by an insured.</p>
                    <p>8.2. The Driver agrees to maintain during the term of this Agreement commercial general liability
                        insurance that provides protection against personal injury, advertising injury and property
                        damage to third parties at levels of coverage required by all applicable laws in the
                        Territory.</p>
                    <p>8.3. The Driver shall add SMARTCABS (or any Affiliate which may be designated by SMARTCABS from
                        time to time) to Driver’s insurance policies required in Sections 8.1 and 8.2 above as an
                        additional insured, and shall upon SMARTCABS’ request, provide SMARTCABS with a copy of such
                        insurance certificate(s) within seven (7) days of such request. SMARTCABS may, at any time,
                        verify the Drivers’ insurance coverage with insurance providers or third parties.</p>
                    <p>8.4. The Drivers shall, notify SMARTCABS (or any Affiliate that may be designated by SMARTCABS
                        from time to time) as soon as reasonably possible, and in any case within thirty (30) days, of
                        any incident which may give rise to an insurance claim.</p>
                    <p><b>9. Representations and Warranties; Disclaimers</b></p>
                    <p><b>9.1. By Driver</b></p>
                    <p>Driver hereby represents and warrants that:</p>
                    <p> (a) He/ she has full power and authority to enter into this Agreement and perform His/ Her
                        obligations hereunder;</p>
                    <p> (b) He/she is duly organized, and in good standing under the laws of the jurisdiction of its
                        origin;</p>
                    <p>(c) He/ she has not entered into, and during the term will not enter into, any agreement that
                        would prevent him or her from complying with this Agreement;</p>
                    <p>(d) He/she will comply with all applicable laws in his/ her performance of this Agreement,
                        including holding and complying with all permits, licenses, registrations and other governmental
                        authorizations necessary to provide</p>
                    <p>(i) Transportation Services using the pursuant to this Agreement, and </p>
                    <p>(ii) passenger Transportation Services to third parties in the Territory generally;</p>


                </div>

            </div>
        </ion-card-header>
        <ion-card-content style="color: #d8d8d8!important;">
        </ion-card-content>
    </ion-card>
</ion-content>
