h3{
    text-align: center;
    padding: 8px;
    color: #4CAF50;
    font-size: 2rem;
}
.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

table{
    width: 70%;
}

tr{
    border: 1px solid #eee;
}

td{
    padding: 4px;
}