ion-content {

  --ion-background-color: #191349;
}

.bgreg {
  background-image: url('../../assets/images/header2.png');
  background-repeat: no-repeat;
  height: 200px;
  background-size: cover;
  filter: blur(3px);
  background-position: center center;
  position: relative;

  padding-top: auto;
  margin: auto;

  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */

  // mask-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg);

  //mask-image: url(../../assets/images/blob.svg);
  //mask-size: 100vmin;
  //mask-repeat: no-repeat;
  //mask-position: center;
}

ion-content{
  --ion-background-color: #191349;
}
